* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #83A1BB, #CFDDE8) no-repeat;
    font-family: sans-serif;
}

.container {
    background: #fff;
    width: 500px;
}
header {
    background: #6A96D8;
    padding: 1.7em;
}
.circle{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(img/qweqwe.jpg);
    background-size: cover;
    background-position-y: -5px;
    border-radius: 50%;
    padding-top: 12px;
    margin-right: 15px;
}
header h1{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.close-check{
    display: inline-block;
    float: right;
    padding-top: 5px;
}
.main-chat{
    padding: 1.7em;
}
.main-chat h2{
    display: inline-block;
    text-transform: uppercase;
    color: #dedede;
    font-size: 16px;
    text-align: center;
}
hr{
    display: inline-block;
    border-top: 1px solid #dedede;
    width: 140px;
    margin-bottom: 5px;
}

.him-message{
    float: left;
    margin-top: 40px;
    width: 100%;
}
.him-message p{
    background-color: #b4d1eb;
    padding: 10px;
    max-width: 350px;
    font-size: 18px;
}
.him-message .him-message-time{
    color: #555;
}



.me-message p{
    background-color: #e2f1ff;
    padding: 10px;
    max-width: 350px;
    margin-top: 20px;
    font-size: 18px;
}
.me-message{
    float: right;
    margin-top: 40px;
}
.me-message .me-message-time{
    float: right;
    color: #555;
    
}

.input-message{
    margin-top: 30px;
    width: 100%;
    border-top: 2px solid #dedede;
    float: left;
}

.input-message input{
    border: none;
    padding: 30px 0;
    font-size: 18px;
}

.input-message a{
    text-decoration: none;
    float: right;
    padding: 30px 0;
    font-weight: 1000;
    color: #487cca;
    text-transform: uppercase;
    letter-spacing: 2px;
}












/*
.contact-name {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    padding-left: 1.3em;
    top: 1px;
}

.contact-name::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 27%;
    left: -3px;
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 6px;
}

.cross:hover .line{
    background: #fff;
}

.line {
    position: absolute;
    right: 0;
    width: 22px;
    height: 3px;
    background: #D3DFF4;
    transition: .1s;
    border-radius: 2px;
}

.line:first-child {
    transform: rotate(45deg);
}

.line:last-child {
    transform: rotate(-45deg);
}

.msg-section {
    padding: 1.7em;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

.date-separation {
    text-transform: uppercase;
    color: #ccc;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    margin: 5px 0 20px 0;
}

.date-separation::before {
    content: '';
    width: 42%;
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 50%;
}

.date-separation::after {
    content: '';
    width: 42%;
    height: 1px;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
}

.message-container {
    max-width: 74%;
    width: fit-content;
    margin: 12px 0;
}

.message-container-to {
    align-self: flex-end;
}

.message-container:nth-child(3) small {
    text-align: right;
}

.msg-date {
    display: block;
    color: #999;
    margin-bottom: 5px;
}

.msg {
    padding: 0.75em;
    font-size: 16px;
}

.msg-from {
    background: #E6EDF6;
    position: relative;
    border-radius: 0 3px 3px 3px;
}

.msg-from::before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #E6EDF6 transparent transparent;
}

.msg-to {
    background: #F2F2F2;
    position: relative;
    border-radius: 3px 0 3px 3px;
}

.msg-to::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    border-style: solid;
    border-width: 8px 8px 0 0;
    border-color: #f2f2f2 transparent transparent transparent;
}

.msg-block {
    background: #FFC2C1;
    border-radius: 3px;
}

.writting-section {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    outline: none;
    padding: 10px 0;
    width: 80%;
    font-size: 17px;
    border: none;
}

input[type="submit"] {
    background: none;
    outline: none;
    color: #6A96D8;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 5px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 510px) {
    body {
        background: #fff;
        align-items: flex-start;
    }

    .container {
        height: 90vh;
    }

    .msg-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }

    .date-separation::before {
        width: 39%;
    }
    
    .date-separation::after {
        width: 39%;
    }
} */